.imageContainer span {
  position: unset !important;
  height: 160px !important;
  margin-top: 8px !important;
}

.image {
  position: relative !important;
  width: 100% !important;
  object-fit: cover;
}
