.post {
  margin: 0 4px 16px 4px;
}
.post h2 {
  margin: 32px 4px 16px 4px;
  padding-top: 40px;
  font-size: 24px;
  font-weight: bold;
  border-bottom: 2px solid #333333;
  border-top: 1px solid #dcdcdc;
  color: #333333;
}

.post h3 {
  margin: 32px 4px 16px 4px;
  padding-left: 4px;
  font-size: 18px;
  font-weight: bold;
  border-left: 4px solid #191970;
  color: #333333;
}

.post p {
  margin: 32px 4px 16px 4px;
  font-size: 14px;
}
